/* ChooseUser component styles */
.choose-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.choose-card {
    width: 100%;
    max-width: 425px;
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.card-body {
    max-width: 425px;
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.role-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.role-option {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.role-options span{
    font-weight: 500;
}
.role-option:hover {
    background-color: #e0e0e0;
}

.role-option.selected {
    background-color: #2f3095;
    color: #ffffff;
}

.user-icon {
    font-size: 32px;
    margin-right: 15px;
    
}

.user-info {
    margin-bottom: 20px;
    text-align: center; /* Center align the content */
}

.selected-user-icon {
    display: block; /* Ensure the icon is centered */
    margin: 0 auto 10px; /* Center horizontally and add some bottom margin */
    font-size: 48px;
    color: #2f3095;
}

.user-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Adjust text color */
}

.user-info p {
    font-size: 16px;
    text-align: left; /* Keep paragraph text aligned left */
}

.login-btn {
    width: 100%;
    padding: 12px 0;
    border: none;
    background-color: #2f3095;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-btn:hover {
    background-color: #2f3095;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    color: #fff;
    font-size: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
    .choose-card {
        box-shadow: none;
    }
    .role-options {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .role-option {
        margin: 5px;
    }
    .selected-user-icon {
        font-size: 40px;
    }
    .login-btn {
        font-size: 16px;
    }
}
